.form-outer-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.error-message {
    color: red;
    font-style: italic;
    font-size: .75rem;
    min-height: 20px;
}