button {
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 10px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}

button:hover {
    cursor: pointer;
}

.btn-blue {
    background-color: var(--color-blue-sec);
    color: var(--color-yellow-sec);
    border: 2px solid var(--color-yellow-sec);
}