/**/

.text-form-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .5rem 0;
}

.select-form-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .5rem 0;
}

.text-form-field label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding-right: .5rem;
    font-size: 1.3rem;
}
.select-form-field label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding-right: .5rem;
    font-size: 1.3rem;
}

.text-form-field input {
    background-color: var(--color-yellow-trip);
    border: 1px solid var(--color-yellow-sec);
    border-radius: 5px;
    padding-left: 5px;
}


.error-message {
    white-space: pre-wrap;
}

.modified {
    font-style: italic;
    background-color: orange;
}

/*.check-input-field input[type="checkbox"] {*/
/*    !* Your checkbox styling rules here *!*/
/*    background-color: lightblue; !* Example color change *!*/
/*    border-color: lightblue; !* Match background color *!*/
/*}*/

/*.check-input-field {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    padding-bottom: 20px;*/
/*    align-items: center;*/
/*    font-size: 1.6rem;*/
/*    font-weight: bolder;*/
/*}*/

/*.check-input-field label{*/
/*    padding-right: 10px;*/
/*}*/


/*.select-field {*/
/*    color: red;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-bottom: 20px;*/
/*    align-items: center;*/
/*    font-size: 1.6rem;*/
/*    font-weight: bolder;*/
/*}*/