.single-roster-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-roster-page h2, h3 {
    color: var(--color-blue-main);
    margin: auto;
}

.week-outer {
    display: flex;
    background-color: var(--color-yellow-prime);
    border-radius: 5px;
    border: 2px solid var(--color-yellow-sec);

}

.day-shifts {
    background-color: var(--color-yellow-trip);
    border-radius: 5px;
    padding: 2px 5px;
}

.shift-outer {
    display: flex;
    justify-content: space-between;

}

.shift-buttons {
    display: flex;
}

