.navbar-container {
    display: flex;
    flex: 0 1 100%;
    background-color: var(--color-yellow);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
    font-family: Roboto, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}

.nav-img {
    width: 55px;
    height: 66px;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.nav-bar-ul:hover {
    font-style: italic;
}

.navbar-ul li:hover {
    font-style: italic;
}



