.navbar-container {
    background-color: var(--color-yellow-prime);
    min-height: 10rem;
    padding: 20px;
    border: 2px solid var(--color-yellow-sec);


}

.single-item {
    display: flex;
    flex: 0 1 100%;
    justify-content: flex-start;
    align-items: center;
}

.double-item {
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px;

}

.nav-img {
    width: 55px;
    height: 66px;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    margin-left: 10px;

}


.navbar-ul li, a {
    text-decoration: none;
    color: inherit;

}

.navbar-ul li:hover {
    font-style: italic;
}

.navbar-container h2:hover {
    font-style: italic;
}



