.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color: var(--color-yellow-prime);
    border: 2px solid var(--color-yellow-sec);
    font-family: "Anton", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

