/* FLEXBOX */
.outer-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.inner-container {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    flex: 0 1 1200px;
    align-items: center;
}

.form-error-message {
    color: red;
    font-style: italic;
    font-size: .75rem;
    min-height: 17px;
}